.container_first_round{
    width: 80%;
    padding: 1rem;
    margin: auto;
}

.rounded_shadow{
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.headline{
    z-index: 0;
    display: flex;
    justify-content: flex-end;
}
.headline_right{
    display: flex;
    align-items: center;
}
.content_container_first_round{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.left_content_first_round{
    flex-grow: 1;
    width: 55%;
    margin-right: 0.5rem;
}
.right_content_first_round{
    flex-shrink: 0;
    width: 45%;
}
.country_solution_container{
    padding: 1rem;
    margin-bottom: 1rem;
}
.flag_container{
    padding: 1rem;
}


/* component */
.container_fact_component{
    padding: 0.5rem;
}
.textfield_container_fact{
    height: 70px;
    display: flex;
    align-items: center;
}
.textfield_container_fact input{
    width: 90%;
    height: 100%;
}
.inputContainer{
    width: 100%;
}
.testButtonContainer{
    width: 20%;
    padding-right: 1rem;
}